@media only screen and (max-width: 1250px){
    .presentation{
        width: 50%
    }
    .fast-options{
        width: 50%;
    }
}

@media only screen and (max-width: 1070px){
    .start{
        flex-direction: column;
        align-items: center;
    }
    .presentation{
        width: 100%
    }
    .fast-options{
        flex-direction: column;
        width: 100%;
        background: none;
    }
    .fast-options-grid{
        grid-template-columns: repeat(auto-fit, minmax(15rem, 1fr));
        grid-template-rows: 24rem;
        gap: 2rem;
    }
    
}

@media only screen and (max-width: 800px){
    .logo{
        height: 5rem;
    }
    nav{
        display: none;
    }
    .popular-items-grid{
        display: flex;
        width: 100%;
        position: relative;
    }

    .popular-items-grid > a{
        display: block;
    }

    .item{
        display: flex;
        flex-direction: column;
        height: 32rem;
    }
}

@media only screen and (max-width: 570px){
    
    h1{
        font-size: 4.8rem;
    }

    .testimonials-wrapper > img{
        display: none;
    }

    .testimonials-carousel{
        width: 100%;
    }
}